<a href="https://colab.research.google.com/github/vedesh95/-Machine-Learning-with-Iris-Dataset-/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##PANDAS

In [0]:
# import pandas library
import pandas as pd

In [0]:
# Import pandas library
import pandas as pd

# Read the online file by the URL provides above, and assign it to variable "df"
other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
df = pd.read_csv(other_path, header=None)

In [0]:
df.head(10)

In [0]:
df.tail(10)

In [0]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns = headers

In [0]:
#drop missing values along the column "price" as follows
df.dropna(subset=["price"], axis=0)

In [0]:
#To get datatypes
df.dtypes

In [0]:
#statistical summary of all numeric-typed (int, float) columns.
df.describe()

In [0]:
#For statistical summary along with dtype object use:
df.describe(include = "all")

In [0]:
#To descibe only required columns
df[['length','width','height'] ].describe()

To get concise summary of DataFrame

In [0]:
df.info()

##DATA WRANGLING

<h2>Table of content</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#identify_handle_missing_values">Identify and handle missing values</a>
        <ul>
            <li><a href="#identify_missing_values">Identify missing values</a></li>
            <li><a href="#deal_missing_values">Deal with missing values</a></li>
            <li><a href="#correct_data_format">Correct data format</a></li>
        </ul>
    </li>
    <li><a href="#data_standardization">Data standardization</a></li>
    <li><a href="#data_normalization">Data Normalization (centering/scaling)</a></li>
    <li><a href="#binning">Binning</a></li>
    <li><a href="#indicator">Indicator variable</a></li>
</ul>
</div>
 
<hr>

.replace(A, B, inplace = True)  to replace a with b

In [0]:
import numpy as np

In [0]:
df.replace("?", np.nan, inplace = True)
df.head(5)

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [0]:
missing_data = df.isnull()
missing_data.head(5)
#"True" stands for missing value, while "False" stands for not missing value.

To calculate mean and replace np.nan with mean

In [0]:
avg_bore=df['bore'].astype('float').mean(axis=0)
df['bore'].replace(np.nan,avg_bore,inplace='True')

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [0]:
df['bore'].value_counts
df['bore'].value_counts.id_max

In [0]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [0]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [0]:
#to replace dtype whole column by another dtype
df['bore','num-pf-doors']=df['bore','num-pf-doors'].astype('float')

DATA STANDARDIZATION

In [0]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]
# it also rename column 
# check your transformed data 
df.head()